html {
    /*backround and allighnment*/
    background: url(europemap.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.center2 {
    /*audio center*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.center3 {
    /*map image*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.button {
    /*main button*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #2D2B2F; /* Gray */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.button1 {
    /*home button style*/
    background-color: #DEB887;
    padding: 15px 32px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 025px;
    right: 10px;
}

.button2 {
    /*back button style*/
    background-color: #DEB887;
    padding: 15px 32px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 025px;
}

.boxed {
    /*header box*/
    height: 100px;
    width: 1500px;
    padding: 10px;
    background-color: #FFE4C4;
    color: #A0522D;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: absolute;
    top: -20px;
}

.boxtext {
    /*info box*/
    width: 300px;
    border: none;
    padding: 50px;
    margin: 0px;
    background-color: #5F9EA0;
    color: #FFF8DC;
    text-align: left;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 450px;
}
