html {
    /*backround and allighnment*/
    background: url(travelguide.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.boxed {
    /*header box*/
    height: 100px;
    width: 1510px;
    padding: 10px;
    background-color: #FFC0CB;
    color: #DB7093;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    position: absolute;
    top: -20px;
}

.button {
    /*main button*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #2D2B2F; /* Gray */
    border: none;
    width: 600px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:400px;
}

.left {
    display: flex;
    justify-content: left;
    align-items: center;
    height:400px;
}


.button1 {
    /*home button style*/
    background-color: #DDA0DD;
    padding: 15px 32px;
    border: none;
    color: #FFEFD5;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 025px;
}

.boxinfo {
    /*info*/
    height: 500px;
    width: 600px;
    padding: 20px;
    background-color: #FFC0CB;
    color: #DB7093;
    margin: 0;
    text-align: left;
    vertical-align: middle;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 200px;
}

.sizingright {
    width:auto;
    text-align:center;
    padding:100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:400px;
}
.sizingleft {
    width:auto;
    text-align:center;
    padding:100px;
    display: flex;
    justify-content: left;
    align-items: center;
    height:400px;
}
img {
    max-width:50%;
    height:auto;
}